name: Deploy Infra and App

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # -----------------------
      # Checkout repository
      # -----------------------
      - name: Checkout repo
        uses: actions/checkout@v4

      # -----------------------
      # Install Terraform
      # -----------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      # -----------------------
      # Install Terragrunt
      # -----------------------
      - name: Install Terragrunt
        run: |
          wget https://github.com/gruntwork-io/terragrunt/releases/download/v0.55.2/terragrunt_linux_amd64
          chmod +x terragrunt_linux_amd64
          sudo mv terragrunt_linux_amd64 /usr/local/bin/terragrunt

      # -----------------------
      # Get the IAM Role/User ARN dynamically
      # -----------------------
      - name: Get AWS IAM ARN
        id: get_arn
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ap-southeast-2
        run: |
          ARN=$(aws sts get-caller-identity --query Arn --output text)
          echo "role_arn=$ARN" >> $GITHUB_OUTPUT
          echo "Detected IAM ARN: $ARN"

      # -----------------------
      # Deploy Infrastructure using Terragrunt
      # -----------------------
      - name: Deploy Infrastructure
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ap-southeast-2
        run: |
          cd infra
          terragrunt run-all apply --terragrunt-non-interactive -auto-approve -var "role_arn=${{ steps.get_arn.outputs.role_arn }}"

      # -----------------------
      # Setup Python
      # -----------------------
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # -----------------------
      # Run Python App
      # -----------------------
      - name: Run Python App
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ap-southeast-2
        run: |
          cd app
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python process_products.py
